<div id="mainSectionWrapper">
    <a href="#" class="mainSection">
        <div class="mainSectionContent">
            <div class="icon">&#xf1b1;</div>
            <h2>Find me food!!!</h2>
        </div>
    </a>
    <a href="#" class="mainSection">
        <div class="mainSectionContent">
            <div class="icon">&#xf1de;</div>
            <h2>Configure</h2>
        </div>
    </a>
    <a href="#" class="mainSection">
        <div class="mainSectionContent">
            <div class="icon">&#xf080;</div>
            <h2>Your History</h2>
        </div>
    </a>
    <a href="#" class="mainSection">
        <div class="mainSectionContent">
            <div class="icon">&#xf164;</div>
            <h2>More about it</h2>
        </div>
    </a>
</div>