<div id="mainSectionWrapper">
    <div class="mainSection revertZebra">
    	<div id="maps" class="makeItFit" ng-show="findIt.showMap">
        </div>
        <div id="findItOverlay" class="makeItFit" ng-show="findIt.showOverlay">
        	<div class="overlayContent">
        		<p class="loading" ng-show="findIt.showOverlayLoading"></p>
        		<div class="placesSelector" ng-show="findIt.showPlaces">
        			
        		</div>
        	</div>
        	<div class="overlayBack"></div>
        </div>
    </div>
</div>